

/*********************************************************************************/
/* Menu1                                                                          */
/*********************************************************************************/

	#menu1
{ 
padding:13em;
	position: absolute;
	font-size:5px;
	
	
}

#menu1 ul
{
	display: inline-block;
	size:5px;
}

#menu1 li
{
	display: block;
	float: left;
	text-align:center;
}

#menu1 li a, #menu1 li span
{
	display: inline-block;
	margin-left: 0.50em;
	padding: 0em 1.5em 0em 0.50em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color:#FFF;
	size:5px;
}

#menu1 li:hover a, #menu1 li.active a, #menu1 li.active span
{
}

#menu1 .current_page_item a
{
	color:#FFF
}

#menu1 .icon
{
	display: inline-block;
	color:#FFF;
	size:5px;
}


